<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483265395038-pjdn3l2e363j6lvbo8va99r8vkng5uip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483265395038-pjdn3l2e363j6lvbo8va99r8vkng5uip</string>
	<key>API_KEY</key>
	<string>AIzaSyBSOshvlgIHK2_QV_kUbjddj5JMUCfgD9U</string>
	<key>GCM_SENDER_ID</key>
	<string>483265395038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emirs.cityvista</string>
	<key>PROJECT_ID</key>
	<string>cityvista-86269</string>
	<key>STORAGE_BUCKET</key>
	<string>cityvista-86269.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483265395038:ios:6af703266ddd91891f37cf</string>
</dict>
</plist>